<div id="heading">
    <h1 class="text-center" style="color: #16213e">View Order</h1>
</div>

<div class="container mx-5">
    <table class="table text-center table-striped ">
        <thead class="table-dark">
            <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Order Quantity</th>
                <th scope="col">Customer Id</th>
                <th scope="col">Plant Name</th>
                <th scope="col">Coupan Id</th>
                <th scope="col">Order Amount</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of order">
                <td>{{row.orderId}}</td>
                <td>{{row.orderQuantity}}</td>
                <td>{{row.customerId}}</td>
                <td>{{row.plantName}}</td>
                <td>{{row.coupanId}}</td>
                <td>{{row.orderAmount}}</td>
                <td>
                    <button (click)="clickEdit(row.orderId,row.customerId,row.plantName,row.coupanId)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info mx-2" ><i class="bi bi-pencil-square"></i></button>
                    <button (click)="delete(row.orderId)" class="btn btn-outline-danger "><i class="bi bi-trash3-fill"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form [formGroup]="formValue">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Order Quantity</label>
                <input formControlName="orderQuantity" type="email" class="form-control" id="exampleFormControlInput1" placeholder="quantity">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="updateOrder()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</form>
  </div>